{% extends 'basic.html' %}

{% block title %} About{% endblock title %}
{% block about %} active {% endblock %}
{% block body %}
<div class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main class="px-3">
    <h1>Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages.
     Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="/blog" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Lets Check More</a>
    </p>
  </main>

</div>
</div>





 {% endblock %}